
<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #c9ff99;
}

h1 {
  color: #ffa8a8;
  text-align: center;
}

p {
  font-family: 	Courier New;
  font-size: 30px;
  text-align: center;
}
</style>
</head>
<body>

<h1>✿Hey there, I'm Izavelle Martos!✿</h1>
<p>This is my website about me. I love music, testing my creativity, and animals with hats. I'm a student from James Campbell Highschool and I hope you enjoy learning about me.(✿◠‿◠)</p>

</body>
</html>
