{
  background-color: #ffffa8;
}
h1 {
  color: #ffa8a8;
  text-align: center;
}

p {
  font-family: 	courier new;
  font-size: 30px;
  text-align: center;
}
</style>
{
  margin: 0;
  background-color: #ffffa8;
  font-family: 	Courier New, Helvetica, sans-serif;
}

#navbar {
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}
  position: fixed;
  top: -50px;
  width: 100%;
  display: block;
  transition: top 0.3s;
}

#navbar a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 17px;
}

#navbar a:hover {
  background-color: #e5fff9;
  color: black;
}
</style>
</head>
<body>

<div id="navbar">
  <a href="#home">🏠 Home 🏠</a>
  <a href="#portfolio">Portfolio</a>
  <a href="#extra">Extra</a>
</div>


<div style="padding:15px 15px 2500px;font-size:30px">
  <p>Scroll down this frame to see the effect!</p>
  <p>Scroll to the top to hide the navbar.</p>
 
</div>
<script>
// When the user scrolls down 20px from the top of the document, slide down the navbar
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    document.getElementById("navbar").style.top = "0";
  } else {
    document.getElementById("navbar").style.top = "-50px";
  }
}
</script>

</body>
</html>
