
body {
  background-color: #c9ff99;
}
h1 {
  color: lightpink;
  text-align: center;
  font-family: CourierNew;
}
p {
  font-family: CourierNew;
  font-size: 30px;
 color: black;
  text-align: center;
}
